# https://pybind11.readthedocs.io/en/stable/compiling.html#modules-with-setuptools
# To use pybind11 inside your setup.py, you have to have some system to ensure that pybind11 is installed when you build your package.
pybind11
